/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root{
    --main-bg-color: #FFF2EB;
    --secondary-bg-color: #0E0E0E;
}

html {
    color: white;
    font-size: 1em;
    line-height: 1.4;
    background-color: rgba(0,0,0,0);
}

/*
 * Remove text-shadow in selection highlight:
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #2b3444;
    text-shadow: none;
}

::selection {
    background: #2b3444;
    text-shadow: none;
}

/* ==========================================================================
   Font family
   ========================================================================== */
@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope-ExtraLight.eot");
    src: url("/fonts/Manrope-ExtraLight.eot?#iefix") format('embedded-opentype'),
    url("/fonts/Manrope-ExtraLight.woff2") format('woff2'),
    url("/fonts/Manrope-ExtraLight.woff") format('woff'),
    url("/fonts/Manrope-ExtraLight.ttf") format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope-Light.eot");
    src: url("/fonts/Manrope-Light.eot?#iefix") format('embedded-opentype'),
    url("/fonts/Manrope-Light.woff2") format('woff2'),
    url("/fonts/Manrope-Light.woff") format('woff'),
    url("/fonts/Manrope-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope-SemiBold.eot");
    src: url("/fonts/Manrope-SemiBold.eot?#iefix") format('embedded-opentype'),
    url("/fonts/Manrope-SemiBold.woff2") format('woff2'),
    url("/fonts/Manrope-SemiBold.woff") format('woff'),
    url("/fonts/Manrope-SemiBold.ttf") format('truetype');
    font-weight: 600;
}

/* ==========================================================================
   Main Divs
    ========================================================================== */

.Dashboard-div{
    font: 48px 'Manrope', sans-serif;
    font-weight: 500;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 50px;

    padding-top: 2.5vh;
}

.subtitle-div{
    margin-left: 5%;
}

@media (min-width: 950px) {
    .cards-row { grid-template-columns: repeat(2, 1fr); gap: 4vw;}
}

@media (max-width: 950px) {
    .cards-row { grid-template-columns: repeat(1, 1fr); gap: 2rem;}
    .card {min-width: 70vw;}
}

.cards-row{
    display: grid;
    max-width: 1200px;
    align-self: center;
}

.card{
    font: 20px 'Manrope', sans-serif;
    font-weight: 200;
    width: calc(20vw + 200px);
    box-shadow: 1px 1px 4px var(--secondary-bg-color);
    padding: 20px;
    text-align: center;
}

.header-card{
    font: 15px 'Manrope', sans-serif;
    font-weight: 200;

    margin: -5px -5px 20px -5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}


.medicion-top{
    font: 30px 'Manrope', sans-serif;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

.medicion-top > *{
    margin: 0;
}

.dispositivo{
    display: inherit;
    gap: 5px;
    align-items: center;
}

.content-card{
    max-width: 500px;
    max-height: 250px;
}
